
:root {
    --bs-green: #198754;
    --primary-color: #1977cc;
    --blue-color: #2487ce;
    --default-color: #444444;
    --tham-color: #007aff;
    --primary-color: #1977cc;
    --whait-color: #fff;
    --heading-color: #2c4964;
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Poppins", sans-serif;
    --nav-font: "Raleway", sans-serif;
  }
  html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: var(--default-font);
    color: var(--default-color);
  }
  
  a {
    text-decoration: none;
  }
  
  .section_heading {
    margin-top: 100px;
    margin-bottom: 75px;
    padding: 10px;
  }
  
  .section_heading h1 {
    color: var(--heading-color);
    text-transform: uppercase;
  }

/* .pricing {
    background-color: #f8f9fa;
  }
   */
  
  .pricingItem{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  }
  
  .card_body{
    padding: 60px 40px;
  }
  .pricing .card_body h3 {
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 20px;
}
.pricing h4 {
    font-size: 48px;
    /* color: var(--primary-color); */
    font-family: var(--nav-font);
    font-weight: 400;
}
.pricing .card_body i{
    padding-right: 10px;
}
.pricing .pricingItem .card_body i{
    color: var(--bs-green);
}

@media (min-width: 992px) {
    .pricing .featured  {
        transform: scale(1.02, 1.1);
    }
}

  .featured {
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--whait-color);
  }
  .pricing .pricingItem ul {
    padding: 20px 0;
    list-style: none;
    color: 
 color-mix(in srgb, var(--default-color), transparent 30%);
    text-align: left;
    line-height: 20px;
}
  
  .featureList li {
    margin-bottom: 15px;
  }
  
  .na {
    opacity: 0.5;
    text-decoration: line-through;
  }
  